/* App.css */

/* Remove default styles for header */
.App-header {
    background-color: transparent;
    border-bottom: none;
}

/* Remove default styles for App logo */
.App-logo {
    height: auto; /* Adjust the logo height as needed */
}

/* Add any additional global styles here */
