/* UserPage.css */

/* Add styles specific to UserPage */

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.inputContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centerText {
    flex: 0 0 auto;
    font-size: 24px;
}

.stringSelector {
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.scrollViewContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 60%; /* Position it vertically halfway between the top and bottom */
    transform: translateY(-60%); /* Adjust to center vertically */
    text-align: center;
}

.scrollView {
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Background color for the scroll view container */
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow effect */
    overflow-y: auto;
    height: 300px;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

/* Add more styles as needed */
